z{
    border-color: red;
    border-style: solid;
}


div{
    opacity: 90%;
}
.color{
    background-color: gainsboro;
}
.buttonbar{
    position: relative;
    top: 10px;
}
#searchbar{
    position: relative;   
    top: 10px;
}
#searchbutton:hover{
        color:black;
        background-color: burlywood;
        border-style: inset;
}
#searchbutton{
    position: relative;
    left: 60%;
    color: black;
    background-color:burlywood;
    border-style: outset;
    padding: 5px;
    top: 8px;
}
.sticky{
    position: sticky;
}
.menubuttons {
    margin-left: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(10, 66, 40);
    padding: 8px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    text-decoration: none;
    color: goldenrod;    
}
.fotterbuttons{
    
    color: gray;
    opacity: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;   
}

a:hover {
    background-color: bisque;
    color: black;
}


.row
{
    flex-basis: 100vw;
    
}
.left{
    flex-basis: 50vw;
}
.rest1{
    flex: 1;
}
.rest2{
    flex: 2;
}

.rest5{
    flex: 5;
}
#sokab{
 text-align: center;
 color: green;
 border-style: double;
 border-width: 0.5em;
 width: 55%;
 margin-left: 20%;
}

