x{
    border-color: red;
    border-style: solid;
}




.movedownbuttons {
    margin-top: 22em;
    border-style: double;
    border-color: black;
    border-radius: 10em;
}

.menu {
    text-align: center;
    color: goldenrod;
    height: 20em;
    background-image: url(../images/image.png);
    background-position: center;
    background-size: cover;
    border-color: black;
    border-style: double;
    border-radius: 20em;
}

li {
    display: inline;
    margin: 1em;
}

nav {
    border-color: black;
    border-style: double;
    border-radius: 10em;
}

h3 {
    display: inline;
    padding: 20%;
}

.container {
    display: flex;
    justify-content: center;
}

.moveFurtherDown {
    margin-top: 10em;
    
}

.box {
    color: goldenrod;
    width: 30%;
    padding: 2em;
    border-radius: 5px;
    border: 1em;
    border-color: beige;
    background-color: rgb(10, 66, 40);
    border-style: double;
    margin: 2em;
}

.table {
    margin-top: 10%;
    margin-left: 15%;
    background-color: aliceblue;
    border-color: rgb(10, 66, 40);
    border-width: 0.2em;

}

th {
    background-size: cover;
    background-position: center;
    width: 10em;
    height: 6em;
    background-color: aliceblue;
    border-color: rgb(10, 66, 40);
    border-width: 0.2em;

}

td {
    text-transform: capitalize;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    border-color: rgb(10, 66, 40);
    border-width: 0.2em;
}

.truck {
    background-image: url("../images/Lego_Truck.jpg");
}

.crane {
    background-image: url("../images/Lego_crane2.jpg");
}

.digger {
    background-image: url("../images/LEgo Digger.jpg");
}
.boxtext
{
    display: flex; 
    align-items: center; 
    padding: 2em;
    width: 100%;
    gap: 3em;
}

.boxvideo {
    
    color: goldenrod;
    width: 55%;
    border: 1em;
    border-color: beige;
    background-color: rgb(10, 66, 40);
    border-style: double;
    margin-left: 10%;
}

.video
{
    margin-left: -15%;
}

.contactus
{
    display: flex;
    color: goldenrod;
    width: 25%;
    height: 22%;
    border: 1em;
    border-color: beige;
    background-color: rgb(56, 82, 112);
    border-style: double;
    margin-left: 10%;
    margin-bottom: 2em;
}
.contactprofile
{
    width:10em;
    height:10em;
    margin-left: 2em;
    margin-top: 1.5em;
}
.contactbuttons {
    text-decoration: none;
    padding: 1em;
    border-radius: 10px;

}
.contact-info {
    margin-left: 1em;
   margin-top: 2em;
}